body {
  font-family: 'Mitr', sans-serif;
  text-align: center;
  background-color: #8DA3F0;
}

.keyboard {
  position: fixed;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 5px;
  max-width: 100vh;
  margin: 0 auto;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard button {
  width: 50px;
  height: 50px;
  font-size: 18px;
  background-color: #5063A3;
  border: 1px solid #5063A3;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.keyboard button.enter {
   width: 110px;
}

.keyboard button.backspace {
   width: 70px;
}

@media (max-width: 480px) {
  .keyboard button {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
}

h1 {
  color: white;
  font-weight: 600;
  font-size: 4vh;
  line-height: 6vh;
  height: 6vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#word-container {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.letter-box {
  border: 4px solid #5063A3;
  border-radius: 10px;
  margin: 5px;
  font-size: 4vw;
  font-weight: 700;
  height: 6vw;
  width: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
}

#word-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.letter-box {
  border: 4px solid #5063A3;
  border-radius: 10px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
}

.filled-box {
  border: 4px solid #223e9b;
}

.letter-row {
  display: flex;
}

.wrong-letter {
  background-color: #0f2366;
  border: 4px solid #0f2366;
}

.middle-letter {
  background-color: #f0ed30;
  border: 4px solid #f0ed30;
}

.right-letter {
  background-color: #9eec44;
  border: 4px solid #9eec44;
}

.game-container {
  position: relative;
}

#credits {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: white;
}